h1 {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 125px;
}

.Hover-darken:hover { 
  background-color:black;
} 

.buttons:hover {
  transform: scale(1.1);
}

.Hover-cards:hover {
  transform: scale(1.1);  
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes dropin {
  0% {
      transform: scale(0.99);
      transform: translateY(-100px);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}


@keyframes fadein {
  0% {
      transform: scale(0.99);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}